<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>471488008295-klgi6g1npp781tebssv22aik1rndmb6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471488008295-klgi6g1npp781tebssv22aik1rndmb6f</string>
	<key>API_KEY</key>
	<string>AIzaSyA8xSfiB7MAHVfn606KoYdFO0QnRQlsyco</string>
	<key>GCM_SENDER_ID</key>
	<string>471488008295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swifty.defrance.FireStoreEssaie</string>
	<key>PROJECT_ID</key>
	<string>firestoreessaie</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreessaie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471488008295:ios:93385a717d921589</string>
	<key>DATABASE_URL</key>
	<string>https://firestoreessaie.firebaseio.com</string>
</dict>
</plist>